:host {
  display: block;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  min-height: 240px;
  min-width: 150px;
  border: 2px solid dodgerblue;
  text-align: center;
}

.value {
  font-family: monospace;
  font-weight: bold;
  color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated.active {
  animation: shake .2s 5 ease-in-out;
}

@keyframes shake {
  25% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
}
co-text.value{
  display: flex;
  justify-content: center;
  align-items: center;
}