<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shower Presentation Engine</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="shower/themes/material/styles/screen-4x3.css"> -->
	<link rel="stylesheet" href="./theme3x4.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/agate.min.css">
	<link rel="stylesheet" href="./monokai-sublime.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	
	<style>
		.slide pre code {
			line-height: 1.5em;
		}
		.slide pre code {
			display: block;
			padding: 0 30px;
			border-radius: 10px;
			white-space: pre;
			-moz-tab-size: 2;
			-o-tab-size: 2;
			tab-size: 2;
			margin: 0;
			margin-left: 0;
			width: auto;
			overflow: visible;
		}
		.slide::after{
			content: none
		}
	</style>
</head>
<body class="shower list">

	<header class="caption">
		<h1>Vue.js - Components</h1>
		<p>Serhii Prysiazhniuk</p>
	</header>

	<section class="slide" id="cover">
		<h2>Vue.js - Components</h2>
		<figure>
			<img class="cover" src="pictures/vue-logo.png">
		</figure>
		<div class="box">
			<p>Сергій Присяжнюк</p>
		</div>
		<style>
			#cover h2 {
				margin: 0 0 0;
				color:#000;
				text-align:center;
				font-size:70px;
				}
			#cover .cover {
				width: 30%;
    			top: 56%;
			}
			#cover .box{
				margin-top: 400px;
				font-size: 32px;
				display: flex;
				justify-content: space-between;
			}
		</style>
	</section>

	<section class="slide">
		<h2>Application as a tree of reusable self-contained components</h2>
		<figure>
			<img class="cover" src="pictures/components.png">
		</figure>
		<style>
			#layers .cover{
				width: 100%;
			}
		</style>
	</section>

	<section class="slide">
		<h2>What are Components?</h2>
		<ul>
			<li>Components help to extend basic HTML elements to encapsulate reusable code.</li>
			<li>Components are custom elements that Vue’s compiler attaches behavior to.</li>
			<li>All Vue components are also Vue instances, and so accept the same options object.</li>
		</ul>

		<style>
			#layers .cover{
				width: 100%;
			}
		</style>
	</section>

	<section class="slide">
		<h2>Components</h2>
		<pre>
			<code>
&lt;div id="example"&gt;
	&lt;my-component&gt;&lt;/my-component&gt;
&lt;/div&gt;
			</code>
		</pre>
		<pre>
			<code>
Vue.component('my-component', {
	template: '&lt;div&gt;A custom component!&lt;/div&gt;'
})
			</code>
		</pre>
	</section>

	<section class="slide">
		<h2>Components</h2>
		<pre>
			<code>
&lt;div id="example"&gt;
	&lt;div&gt;A custom component!&lt;/div&gt;
&lt;/div&gt;
			</code>
		</pre>
	</section>

	<section class="slide">
		<h2 class="shout shrink">Single file components</h2>
		<style>
			.shout.shrink::after{
				background: none;
			}
			.shout.shrink{
				color: black;
				font-size: 80px;
			}
		</style>
	</section>

	<section class="slide" id="vue-component">
		<figure>
			<img class="cover" src="pictures/vue-component.png">
		</figure>
		<style>
			#vue-component .cover{
				height: 110%;
				max-height: 120%;
			}
		</style>
	</section>

	<section class="slide" id="comp111">
		<h2>Component Registration</h2>
		<pre>
			<code class="javascript">
	import MyComponent from './my-component.vue';

	new Vue({
		el: '#app',
		components: {
			'my-component': MyComponent
		}
	})
	// or
	Vue.component('my-component', MyComponent);
			</code>
		</pre>
		<pre>
			<code class="html">
	&lt;div id="app"&gt;
		&lt;my-component&gt;&lt;/my-component&gt;
	&lt;/div&gt;
			</code>
		</pre>
		<style>
			#comp111 code{
				font-size: 20px; 
			}
		</style>
	</section>

	<section class="slide" id="lifecycle-example">
		<h2>Lifecycle Hooks</h2>
		<pre>
			<code class="js">
Vue.component('my-component', {
	template: '&lt;div&gt;A custom component!&lt;/div&gt;',
	data: function(){
		return { value: 1 }
	},
	created: function () {
		console.log('Value is: ' + this.value)
	},
	mounted: function () {
		//...
	}
})
			</code>
		</pre>
	</section>

	<section class="slide" id="lifecycle">
		<figure>
			<img class="cover" src="pictures/lifecycle-1.png">
		</figure>
		<style>
			#layers .cover{
				width: 100%;
			}
		</style>
	</section>

	<section class="slide" id="composing">
		<h2>Composing Components</h2>
		<figure>
			<img class="cover" src="pictures/props-events.png">
		</figure>
		<style>
			#composing .cover{
				width: 52%;
    			top: 56%;
			}
		</style>
	</section>

	<section class="slide" id="props1">
		<h2>Props and events</h2>
		<pre>
			<code class="html">
&lt;child message="hello!"&gt;&lt;/child&gt;
&lt;child :message="myMessage"&gt;&lt;/child&gt;
&lt;child @updated="doSomethig"&gt;&lt;/child&gt;
			</code>
		</pre>
		<pre>
			<code class="js">
Vue.component('child', {
	template: '&lt;p&gt;Message: {{ message }}&lt;/p&gt;',
	props: ['message'],
	methods: {
		update: function () {
			this.$emit('updated')
		}
}}
			</code>
		</pre>
	</section>

	<section class="slide" id="props2">
			<h2>Props</h2>
			<pre>
				<code>
props: {
	propA: Boolean,
	propB: [String, Number],
	propC: {
		type: Number,
		required: true,
		default: 100,
		validator: function (value) {
			return value > 10
		}
	}
}
				</code>
			</pre>
		</section>

	<section class="slide" id="props1">
			<h2>camelCase vs. kebab-case</h2>
		
			<pre>
				<code class="js">
Vue.component('child', {
	// camelCase in JavaScript
	props: ['myMessage'],
	template: '<span>{{ myMessage }}</span>'
})
				</code>
			</pre>
			<pre>
					<code class="html">
&lt;!-- kebab-case in HTML --&gt;
&lt;child my-message="hello!"&gt;&lt;/child&gt;
					</code>
				</pre>
	</section>

	<section class="slide" id="custom-events">
		<h2>Custom Events</h2>
		<pre>
			<code class="html">
&lt;div id="counter-event-example"&gt;
	&lt;button-counter @increment="doSomethig"&gt;&lt;/button-counter&gt;
&lt;/div&gt;
			</code>
		</pre>
		<pre>
			<code class="js">
Vue.component('button-counter', {
	data: function () {
		return { counter: 0 }
	},
	template: '&lt;button @click="incrementCounter"&gt;{{ counter }}&lt;/button&gt;',
	methods: {
		incrementCounter: function () {
			this.counter++;
			this.$emit('increment', this.counter)
		}
	}	
})
			</code>
		</pre>
		<style>
			#custom-events code{
				font-size: 18px;
			}
		</style>
	</section>

	<section class="slide" id="custom-events2">
		<h2>Binding Native Events to Components</h2>
		<pre>
			<code class="html">
// Listen to custom 'click' event				
&lt;div id="counter-event-example"&gt;
	&lt;button-counter @click="doSomethig"&gt;&lt;/button-counter&gt;
&lt;/div&gt;
			</code>
		</pre>
		<pre class="next">
			<code class="html">
// Listen to native 'click' event
&lt;div id="counter-event-example"&gt;
	&lt;button-counter @click.native="doSomethig"&gt;&lt;/button-counter&gt;
&lt;/div&gt;
			</code>
		</pre>
		<style>
			#custom-events2 code{
				font-size: 20px;
			}
		</style>
	</section>

	<section class="slide">
			<h2>Content Distribution</h2>
			<pre>
				<code class="html">
&lt;app&gt;
	&lt;app-header>&lt;/app-header&gt;
	&lt;app-footer>&lt;/app-footer&gt;
&lt;/app&gt;
				</code>
			</pre>
	</section>

	<section class="slide" id="slot1">
		<h2>Slots</h2>
		<pre>
			<code class="html">
&lt;!-- my-component --&gt;
&lt;div&gt;
	&lt;h2&gt;I'm the child title&lt;/h2&gt;
	&lt;slot&gt; Fallback content &lt;/slot&gt;
&lt;div&gt;
			</code>
		</pre>
		<pre>
			<code>
&lt;div&gt;
	&lt;h1&gt;I'm the parent title&lt;/h1&gt;
	&lt;my-component&gt;
		&lt;p&gt;This is some original content&lt;/p&gt;
	&lt;/my-component&gt;
&lt;/div&gt;
			</code>
		</pre>
		<style>
			#slot1 code{
				font-size: 20px;
			}
		</style>
	</section>

	<section class="slide" id="slot2">
		<h2> Slots</h2>
		<pre>
			<code>
&lt;div&gt;
	&lt;h1&gt;I'm the parent title&lt;/h1&gt;
	&lt;div&gt;
		&lt;h2&gt;I'm the child title&lt;/h2&gt;
		&lt;p&gt;This is some original content&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
			</code>
		</pre>
		<style>
			#slot2 code{
				font-size: 20px;
			}
		</style>
	</section>

	<section class="slide" id="slot2">
		<h2>Dynamic components</h2>
		<pre>
			<code>
var vm = new Vue({
	el: '#example',
	data: {
		currentView: 'home'
	},
	components: {
		home: { /* ... */ },
		posts: { /* ... */ },
		archive: { /* ... */ }
	}
})
				</code>
			</pre>
		<pre>
			<code>
&lt;component :is="currentView"&gt;
	&lt;!-- component changes when vm.currentView changes! --&gt;
&lt;/component&gt;
			</code>
		</pre>
		<style>
			#slot2 code{
				font-size: 20px;
			}
		</style>
	</section>

	<section class="slide" id="mixins">
		<h2>Mixins</h2>
		<p>Flexible way to distribute reusable functionalities for Vue components</p>
		<pre>
			<code class="js">

var myMixin = {
  created: function () {
    console.log('hello from mixin!')
  }
}

new Vue({
	mixins: [ myMixin ]
})
// => "hello from mixin!"
			</code>
		</pre>
		<style>
			#mixins code{
				font-size: 22px; 
			}
		</style>
	</section>
	
	<section class="slide">
		<h2>Plugins</h2>
		<p>Plugins usually add global-level functionality to Vue</p>
		<ol>
			<li>Add global methods or properties</li>
			<li>Add global assets: directives/filters/components etc</li>
			<li>Add component options by global mixin</li>
			<li>Add Vue instance methods by attaching them to Vue.prototype</li>
			<li>A library that provides an API of its own, while at the same time injecting some combination of the above</li>
		</ol>
	</section>

	<section class="slide" id="plugin">
		<h2>Plugin example</h2>
		<pre>
			<code class="js">
MyPlugin.install = function (Vue, options) {
  Vue.prototype.$myMethod = function ()) {
	  //...
	}
}

// calls `MyPlugin.install(Vue)`
Vue.use(MyPlugin, { someOption: true })
			</code>
		</pre>
		<style>
			#plugin code{
				font-size: 22px; 
			}
		</style>
	</section>

	<section class="slide" id="cli1">
		<h2>Vue CLI</h2>
		<img class="cover" src="pictures/cli-1.png">
		<style>
			#cli1 .cover{
				width: 81%;
				top: 217px;
				transform: translateX(-50%);
			}
		</style>
	</section>
	<section class="slide" id="cli2">
		<h2>Vue CLI</h2>
		<!-- <img class="cover" src="pictures/cli-2.png"> -->
		<div class="box">
			<img src="pictures/cli-2.png">
			<img src="pictures/folders.png">
		</div>
		<style>
			#cli2 .box{
				display: flex;
				justify-content: space-between;
			}
		</style>
	</section>

	<section class="slide" id="comp-frameworks">
		<h2>Component Frameworks</h2>
		<img class="img1" src="pictures/vuteify.svg">
		<img class="img2" src="pictures/vue-bootstrap.png">
		<img class="img3" src="pictures/vue-material.png">
		<a href="https://vuetifyjs.com/" class="a1">vuetifyjs.com</a>
		<a href="https://vuematerial.io/" class="a2">vuematerial.io</a>
		<a href="https://bootstrap-vue.js.org/" class="a3">bootstrap-vue.js.org</a>
		<style>
			#comp-frameworks img{
				position: absolute;
				left: 50%;
				width: 200px;
				transform: translateX(-50%);
			}
			#comp-frameworks .img1{
				top: 23%;
				left: 25%;
			}
			#comp-frameworks .img2{
				top: 26%;
				left: 75%;
			}
			#comp-frameworks .img3{
				top: 61%;				
			}
			#comp-frameworks a{
				position: absolute;
				left: 50%;
				transform: translate(-50%,-50%);			
			}
			#comp-frameworks .a1{
				top: 56%;
				left: 25%;
			}
			#comp-frameworks .a2{
				top: 56%;
				left: 75%;
			}
			#comp-frameworks .a3{
				top: 81.5%;				
			}
		</style>
	</section>

	<footer class="badge">
		<a href="https://github.com/shower/shower">Fork me on GitHub</a>
	</footer>

	<!-- <div class="progress"></div> -->

	<script src="shower/shower.min.js"></script>
	<!-- Copyright © 2017 Yours Truly, Famous Inc. -->

</body>
</html>
