<div rv-controller="menu">
    <rv-template name="header"></rv-template>
    <button rv-on-tap="toggle">OPEN</button>
    <co-sitemap rv-show="isVisible"></co-sitemap>
    <p rv-nav="m.myBinder">some text</p>
</div>

<link rel="stylesheet" href="styles/common/layout.css">