body > article.slide > rv-template:nth-child(1) > rv-template:nth-child(1) > co-chapter-menu:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-color: rgba(249, 0, 0, 1.0);
  background-image: none;
}