@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:Frutiger;
	src:url(../../content/fonts/FrutigerRegular.ttf) format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:Frutiger;
	src:url(../../content/fonts/FrutigerBold.ttf) format('truetype');
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:Eurostile;
	src:url(../../content/fonts/Eurostile.svg) format('svg');
	font-weight:bold;
	font-style:normal;
}




@font-face{
	font-family:code;
	src:url(../../content/fonts/code.ttf) format('truetype');
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:comments;
	src:url(../../content/fonts/comments.svg) format('svg');
	font-weight:bold;
	font-style:normal;
}