@charset "utf-8";
@import url(fonts.css);
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
html, body{
	width: 100%;
	min-height: 100%;
	line-height:150%;
}
html{
	background: #fafafa;
}
body{
	width: 800px;
	margin: 0 auto;
	height:auto;
	background: #eee;
	box-sizing: border-box;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-size:15px;
}
body > nav{
	width:200px;
	position:fixed;
	left:50%;
	margin-left:-600px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	box-sizing:border-box;
	font-size:14px;
	line-height:150%
}
body > nav a{
	display:block;
	color:#003366;
	text-decoration:none;
	padding:3px;
	box-sizing: border-box;
	padding-left:10px;
}
body > nav a.active{
	color:white;
	font-weight:bold;
	border-left:5px black solid;
	padding-left:5px;
	background: #C60;
}
body > nav a:hover{
	text-decoration:underline;
}
body > nav a.subchapter{
	font-size:80%;
}
/*HEADERS*/
body > h1{
	font-size: 42px;
	padding:20px 0;
	margin-bottom:20px;
	font-family: Cuprum;
}
article > h2{
	font-size: 28px;
	background: #993300;
	color:white;
	text-shadow:black 0px -1px 0px;
	padding-left:30px;
	margin-left:-20px;
	position:relative;
	height:50px;
	line-height:50px;
	font-family: Cuprum;
	margin-top:20px;
}
article > h2::before{
	display:block;
	content:"";
	width:10px;
	height:100%;
	background:#999999;
	position:absolute;
	top: 0;
	left: 0;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:skewY(45deg);
	z-index:-1;

}
article > h3{
	margin-top:10px;
	font-weight:normal;
	border-left:5px black solid;
	padding:5px;
	background:#C60;
	color:white;
	font-family:Cuprum;
}
h4{
	margin-top:-10px;
	padding-bottom:5px;
	border-bottom:1px dashed black;
	color:#933
}
h5{
	margin-top: 10px;
}
.proposition{
	color:#666666
}
article > ul{
	list-style:none;
}
article > ul > li{
	margin-bottom:5px;
}
article > p{
	margin:20px 0;
}
.code{
	background:#333333;
	color:white;
	font-family:code, Consolas;
	font-weight:normal;
	font-size:12px;
	position:relative;
}
.code.right::before{
	display:block;
	content:"Right";
	position:absolute;
	left:-5px;
	top:-5px;
	height:10px;
	line-height:10px;
	padding:5px;
	background:#9C0;
	color:black
}
.code.wrong::before{
	display:block;
	content:"Wrong";
	position:absolute;
	left:-5px;
	top:-5px;
	height:10px;
	line-height:10px;
	padding:5px;
	background:#F30;
	color:black
}
.code ol{
	margin-left:20px;
}
.code li{
	white-space:pre;
	line-height:20px;
	padding-left:5px;
}
.code li:nth-child(odd){
	background:#3F3F3F;
}
.alert{
	font-size:12px;
	background:#996633;
	color:white;
	padding:10px;
}
.alert::before{
	content:"Важливо! ";
	font-weight:bold;
}
code{
	width:auto;
	padding:3px;
	background:#333366;
	color:white;
	font-family:code;
	font-weight:normal;
	font-size:12px;
	border-radius:5px;
	vertical-align:middle;
	margin-top: -3px;
	display: inline-block;
	line-height: 100%;
	box-shadow:grey 1px 1px 1px;
}
.tag::before{
	content:"<"
}
.tag::after{
	content:">"
}
.class{
	background:#999900
}
.attribute{
	background:#C63
}
.css{
	background:#669900;
}
.nested{
	padding-left:14px;
}
section code{
	font-size:14px;
	padding:5px;
}
section code:not(:first-child){
	margin-top:30px;
}

section{
	width:100%;
	box-sizing:border-box;
	padding:20px;
	background:white;
	margin-top:10px;
}

section code{
	font-size:14px;
	padding:5px;
	margin-bottom:10px;
}
button{
	-webkit-appearance:none;
	border:none;
	background:transparent;
}
button:hover{
	cursor:pointer;
}
.scroll{
	white-space:nowrap;
	height:100%;
	float:left;
}
aside{
	position:initial
}
.classes{
	font-size:16px;
}
.classes li{
	margin-bottom:5px;
	padding-right:20px;
}

#lists ul, #lists ol{
	margin-left:20px;
}
#lists .stylized{
	background:#CCC;
	padding:1px 20px;
	margin:0;
	list-style:inside;
	list-style-type:square;
}
#lists .stylized li{
	height:30px;
	margin:20px 0;
	background:#FFFFFF;
	line-height:30px;
	padding-left:10px;
}

#tables table{
	border-collapse:collapse;
	border:thin solid grey;
	width:100%;
}
#tables table td{
	border:thin solid grey;
	padding:5px;
}
#tables table caption{
	font-weight:bold;
	padding:5px;
}
#tables table thead{
	
}
#tables table tfoot{
	background:#666666;
	color:white;
}
#tables code{
	margin:0;
}
dl{
	width:100%;
}
dt, dd{
	display:inline-block;
	border:thin solid grey;
	padding:5px;
	-webkit-box-sizing:border-box;
}
dt{
	width:75%;
	border-right:none;
	float:left;
	clear:both;
}
dd{
	width:25%;
	border-left:none;
}
.rules{
	list-style-position:outside;
	list-style-type:disc;
	padding-left:20px;
}
.rules li::after{
	content:";"
}
footer{
	height:50px;
	width:100%;
	background:#666;
	margin-top:10px;
}
















