#task pre{
	margin-bottom: 0;
}
#task p{
	font-size: 18px;
	margin-bottom: 0;
}
#task code{
	font-size: 14px;
    line-height: 17px;
}

section.slide{
	padding-top: 50px;
}

.cover h2 {
	margin: 50px 0 0;
	text-align:center;
	font-size:70px;
}
.cover p {
	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-style:italic;
	font-size:20px;
}
.cover p a {
	color:#FFF;
}

.full{
	padding: 5px;
}

.loup{
	height: 100%;
	width: 100%;
}

.slide .shout{
	line-height: 1.4em;
	font-size: 130px;
}

.slide .shout.middle{
	font-size: 70px;
}

.quote{
	font-size: 60px;
	color: #585a5e;
}

.justify-double{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.slide pre.code code,
.slide .code code{
	font-size: 22px;
	line-height: 40px;
}

.stack{
	width: 300px;
}

.stack h3{
	text-align: center;
}

.stack-box{
	height: 400px;
	width: 100%;
	border: solid;
	display: flex;
	flex-direction: column-reverse;
}

.middle-padding{
	padding-left: 80px;
	padding-right: 50px;
}

.processing-code{
	background-color: #B0BEC5;
}

.code pre div{
	margin: 5px 0;
}

.execution-block{
	width: 95%;
	margin: 5px auto;
	background-color: #FFCA28;
}

.execution-block p{
	text-align: center;
	margin: 0;
	height: 60px;
}

.outer{
	height: 320px;
	width: 480px;
}

.inner{
	height: 95%;
	width: 95%;
	border: solid;
	display: flex;
	margin: auto;
}

.exceeded{
	position: absolute;
	top: 220px;
	left: 200px;
}

.exceeded code:before{
	display: none;
}

.exec{
	position: absolute;
	right: 60px;
	width: 280px;
	height: 70px;
	background-color: #FFCA28;
}

.exec p {
	text-align: center;
}

.exceeded-err{
	position: absolute;
	height: 42px;
	width: 974px;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.slide .code-style pre code{
	font-size: 17px;
	padding: 0 80px;
}

.slide .code-style pre code:before{
	display: none;
}

.loupe div{
	position: relative;
	height: 560px;
	width: 880px;
	overflow: hidden;
}

.loupe img{
	height: 100%;
	width: 100%;
	position: absolute;
	left: -4px;
	top: -4px
}

.def {
	display: none;
}

.def.next.active{
	display: block;
}

.light{
	font-size: 40px;
	font-weight: 200;
}

.gen div{
	float: left;
}

.gen div:first-of-type{
	width: 330px;
    border-right: 2px solid #585a5e;
    margin-right: 30px;
}