.block{
	width: 100px;
	height: 100px;
	background: mediumseagreen;
	border: 2px solid #2c8353;
	box-sizing: border-box;
	margin: 0 auto;
}

#transition input:checked + .block{
	background: #ff4452;
	width: 200px;
	transition: width 1s linear, background 1s 1s;
}

@keyframes width{
	0%{
		width: 100px;
	}
	100%{
		width: 200px;
	}
}

@keyframes background{
	0%{
		background: mediumseagreen;
	}
	100%{
		background: #ff4452;
	}
}

#animation1 input:checked + .block{
	animation: width 1s linear infinite forwards, background 1s 1s infinite forwards;
}

#animation2 .block{
	background: lightblue;
	border-color: #84a4b2;
}

@keyframes move{
	0%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(100px, 50px);
	}
}

@keyframes rotate{
	0%{
		transform: translate(100px, 50px) rotate(0deg);
	}
	100%{
		transform: translate(100px, 50px) rotate(360deg);
	}
}

@keyframes some-animation{
	0%{
		transform: translate(100px, 50px) rotate(0deg);
	}
	100%{
		transform: translate(100px, 50px) rotate(360deg);
	}
}

#animation2 input:checked + .block{
	animation: move .5s linear forwards, rotate .5s .5s linear forwards infinite;
}

#animation3{
	perspective: 200px;
}

#animation3 .block{
	width: 300px;
	height: 300px;
	background: #e680c9;
	border-color: #7b466a;
}

@keyframes rotate3d{
	100%{
		transform: rotateY(360deg);
	}
}

#animation3 input:checked + .block{
	animation: rotate3d 2s linear infinite;
}

@keyframes move2{
	0%{
		transform: translate(0px, 0px);
	}
	10%{
		transform: translate(10px, 30px);
	}
	20%{
		transform: translate(20px, 50px);
	}
	30%{
		transform: translate(20px, 70px);
	}
	40%{
		transform: translate(20px, 100px);
	}
	50%{
		transform: translate(20px, 120px);
	}
	60%{
		transform: translate(20px, 150px);
	}
	70%{
		transform: translate(30px, 170px);
	}
	80%{
		transform: translate(30px, 200px);
	}
	90%{
		transform: translate(30px, 220px);
	}
	100%{
		transform: translate(30px, 220px);
	}
}

#animation4 input:checked + .block{
	animation: move2 5s linear forwards;
}