<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Vue.js • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	</head>
	<body>
		<section class="todoapp" v-cloak>
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" v-model="currentTask" @keyup.enter="addTodo">
			</header>
			<section class="main">
				<ul class="todo-list">
					<li class="todo" v-for="todo in todos">
						<div class="view">
							<label>{{todo}}</label>
							<button @click="removeTodo(todo)" class="destroy"></button>
						</div>
					</li>
				</ul>
			</section>
			<footer class="footer">
				
			</footer>
		</section>
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
