<link rel="stylesheet" href="src/css/timer.css">

<co-text class="value" html="valueLabel">Current value</co-text>

<co-container class="value" rv-text="value" fixed="removing" user-label="Value"></co-container>

<div class="animated" rv-class-active="endReached">
    <content></content>

    <button rv-on-click="resetValue">Reset value</button>
</div>